<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="format-detection" content="telephone=no, address=no, email=no" />
    <link rel="shortcut icon" href="/assets/images/common/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/common/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="192x192" href="/assets/images/common/android-icon-192x192.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/common/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/common/favicon-16x16.png" />
    <title>제 7회 브런치북 출판 프로젝트 수상작 발표! | Kakao Impact</title>
    <link rel="preload" href="/assets/fonts/SDGothicNeoaUniTTF-dRg.woff" as="font" type="font/woff" crossorigin="anonymous" />
    <link rel="preload" href="/assets/fonts/SDGothicNeoaUniTTF-fSb.woff" as="font" type="font/woff" crossorigin="anonymous" />
    <link rel="preload" href="/assets/fonts/SDGothicNeoaUniTTF-hEb.woff" as="font" type="font/woff" crossorigin="anonymous" />
    <link rel="preload" href="/assets/fonts/Sequel100Wide-75.woff" as="font" type="font/woff" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="/assets/styles/style.css" />
  </head>
  <body>

    <!-- 
  스토리 메인 : data-type="story"
  GNB Light 타입 : data-color-type="bright"
  GNB 배경 투명한 타입 : data-bg-type="transparent"
-->
    <div class="skip-to-content-link">
      <a href="#pageKeytit">본문 바로가기</a>
      <a href="#dsmtGnb">메뉴 바로가기</a>
    </div>
    <header id="dsmtHeader" data-color-type="bright">
      <h1 class="blind">DSMT Kakao Impact
      </h1>
      <div class="header-wrap">
        <nav class="header-inner" aria-labelledby="global-navigation">
          <a class="gnb-home" href="/">HOME</a>
          <button type="button" class="btn-gnb-open"><span class="blind">메인메뉴 펼치기</span></button>
          <div id="dsmtGnb">
            <button type="button" class="btn-gnb-close"><span class="blind">메인메뉴 닫기</span></button>
            <ul class="gnb">
              <li><a href="/fellowship/">펠로우십</a></li>
              <li><a href="/together/">같이가치</a></li>
              <li><a href="/kakaoimpact/">카카오임팩트</a></li>
            </ul>
            <div class="language">
              <a href="/index_en.html" class="badge-item en " data-type="lang" title="영어로 보기">ENG</a>
            </div>
            <div class="language-area">
              <a href="/index_en.html" title="영어로 보기">ENG</a>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <article id="dsmtContents" class="view-contents">
      <div class="contents-inner">
        <h2 class="blind">새소식 상세 본문</h2>
        <div class="page-top">
          <h3 class="text-title">제 7회 브런치북 출판 프로젝트 수상작 발표!</h3>
          <time class="text-desc" datetime="">0000.00.00</time>
        </div>
        <div class="view-container">
          <p>
            <img src="https://t1.daumcdn.net/impact/Editor/20200420/20200420025831/d7ea021688f6497f8db3109a1b1fe7aa" alt="보도자료.png" class="thumb_img" style="text-align: center; font-size: 10pt; clear: none; float: none" /><br />
          </p>
          <p></p>
          <p><br /></p>
          <p>
            ‘제7회 브런치북 출판 프로젝트’의 수상작이 발표되었습니다! ‘브런치북 출판 프로젝트’는 책 출간을 꿈꾸는 작가를 지원하기 위해&nbsp;카카오가 2015년부터 매해 진행하는 공모전인데요. 콘텐츠 퍼블리싱
            플랫폼 브런치가 주관하고, 카카오 기업재단 카카오임팩트가 상금과 출간 지원금을 후원하고 있어요. 현재까지 브런치북 전체 수상자의 출간작은 무려&nbsp;105권에 달하고, 이중 다수가 베스트셀러 도서에
            이름을 올렸답니다.
          </p>
          <p><br /></p>
          <p>
            공모전 진행 방식은 간단해요! 브런치 작가로 활동 중인 분들에 한해 작품 공모를 받습니다. 그리고 출판사 10곳과 함께 응모 작품을 심사해요. 각 출판사에서 대상작&nbsp;후보를 선정하면, 작가 미팅을
            거쳐 출판 계약서와 출판 의사 여부를 서로 검토한 후 최종 수상이 결정됩니다. 수상작은 유명 출판사의 편집 과정을 거쳐 책으로 출판되며, 출판 후에는 카카오의 마케팅 지원에 이르는 혜택을 받을 수
            있어요.
          </p>
          <p><br /></p>
          <p>
            어느덧 공모전&nbsp;일곱 번째를 맞은 2019년에는&nbsp;역대 최다인 2,500여 편의 출품작이 있었어요. 최종 수상작은&nbsp;일(직업), 경제경영, 인문교양, 라이프스타일 등의 카테고리에서 다양한 시선을
            담은 대상 10편과 카카오페이지 특별상 5편이 선정되었습니다. 대상 수상자에게는 국내 유수의 출판사와 함께하는 도서 출간의 기회와, 출판 생태계 지원을 위한 상금 500만 원, 출판사 출간 지원금 100만
            원씩 총 6,500만 원 상당의 지원금이 주어졌고요. 카카오페이지 특별상 수상자는 카카오 콘텐츠 플랫폼 ‘카카오페이지’ 단독 유료 연재 기회 및 상금 100만 원이 수여되었어요.
          </p>
          <p><br /></p>
          <p style="text-align: center">
            <img src="https://t1.daumcdn.net/impact/Editor/20200420/20200420025917/105f1113a2944a4cacd9e80de1928583" alt="보도자료 3.png" class="thumb_img" style="clear: none; float: none" />
          </p>
          <p><br /></p>
          <p style="text-align: center"><span style="background-color: rgb(255, 255, 255); color: rgb(107, 107, 107)">브런치 대표 출간작 10편</span></p>
          <p><br /></p>
          <p>수상작 정보는&nbsp;아래를 참고해주세요!</p>
          <blockquote class="tx-quote1">
            <p><b>&lt;대상&gt;</b></p>
            <p>
              김혜령 - 'How are you? 내 마음'(가나출판사) / 박창선 - '실무자를 위한 현실브랜딩 안내서'(미래의 창) /&nbsp;이숳 - '동생이 생기는 기분'(민음사) /&nbsp;강병진 - '생애최초 주택구입
              표류기'(북라이프) / Toriteller - '사회초년생 위한 재테크 튜토리얼'(북스톤) /&nbsp;조태호 - '답이 있다면, 알 수 있는가'(어떤책) /&nbsp;생계형변호사 - '생계형변호사'(웅진지식하우스) /&nbsp;a
              little teapot 이진민 - '철학하는 엄마'(웨일북) /&nbsp;김선지 - '미술사에서 사라진 여성 미술가들'(은행나무) /&nbsp;김파카 - '식물킬러를 위한 아주 쉬운 식물책'(카멜북스)
            </p>
            <p>
              <b><br /></b>
            </p>
            <p><b>&lt;카카오페이지 특별상&gt;</b></p>
            <p>
              김양균의 현장보고 - '나는 투명인간을 보았다' /&nbsp;이세라 - '일상에서 발견하는 마케팅 모먼트' /&nbsp;찰리브라운 - '직장인을 위한 51프로 정답' / 나코리 - '그 남자의 두 집 살림' /&nbsp;꿈공 -
              '제가 공무원은 처음이라서요'
            </p>
          </blockquote>
          <p><br /></p>
          <p>
            프로젝트 담당자 김주영 매니저님은 이번 프로젝트가 기획력과 완성도를 갖춘 다수의 작품을 발견하도록 해주었다는 점에서 큰 의의가 있으며, 앞으로도&nbsp;수상작 출간, 브랜딩 지원 등&nbsp;브런치북을
            통해 콘텐츠 창작자에게 기회를 제공하고자&nbsp;노력하겠다는 의지를&nbsp;밝혔는데요. 김주영 매니저님의 말처럼, 해당 프로젝트가 신진 작가와 그들의 꿈을 응원하는 계기가 되었으면 좋겠습니다. 콘텐츠
            창작자와 동행하는 카카오, 앞으로의 우리 행보도 기대해주세요! :)
          </p>
          <p>
            <span style="font-size: 10pt"><br /></span>
          </p>
          <p>
            <span style="font-size: 10pt"><br /></span>
          </p>
          <p>
            <span style="font-size: 10pt"><br /></span>
          </p>
          <p>
            <span style="font-size: 10pt"><br /></span>
          </p>

          <!--
				* 버튼 클래스 지정시 생성되는 아이콘
					tx-link : 새창으로 이동 아이콘
					tx-download : 다운로드 아이콘
					tx-underline : 버튼 언더라인 
			-->
          <p><a href="#" target="_blank" class="tx-link">제7회 브런치북 출판 프로젝트 더 알아보기</a></p>
          <p><a href="#" target="_blank" class="tx-link">제 7회 브런치북 출판 프로젝트 수상작 보러 가기</a></p>
          <p><a href="#" class="tx-download">카카오 임팩트 보고서</a></p>
        </div>
        <div class="view-bottom">

          <!-- 
				* 링크 비활성화 시 
				- href 속성 삭제
				- disabled aria-disabled="true" 속성 추가 
			-->
          <a class="view-prev" disabled aria-disabled="true">이전 글</a>
          <a href="/kakaoimpact/news/" class="view-list">목록</a>
          <a href="#" class="view-next">다음 글</a>
        </div>
      </div>
    </article>
    <button id="fabButton" type="button"><span class="blind">위로 이동</span></button>
    <footer id="dsmtFooter">
      <h2 class="blind">푸터 영역</h2>
      <div class="footer-inner">
        <div class="breadcrumb-wrap">
          <ol class="breadcrumb-list">
            <li>
              <a href="/"><span>HOME</span></a>
            </li>
            <li>
              <a href="/kakaoimpact/"><span>카카오임팩트</span></a>
            </li>
            <li>
              <a href="/kakaoimpact/news/"><span>새소식</span></a>
            </li>
            <li>
              <span class="txt">상세정보</span>
            </li>
          </ol>
        </div>
        <div class="sitemap">
          <div class="sitemap-list">
            <a class="main-link" href="/fellowship/">펠로우십</a>
            <ul>
              <li><a href="/fellowship/intro/">펠로우 소개</a></li>
              <li><a href="/fellowship/story/">펠로우 스토리</a></li>
              <li><a href="/fellowship/recommend/">펠로우 추천</a></li>
              <li><a href="/fellowship/network/">추천 네트워크</a></li>
            </ul>
          </div>
          <div class="sitemap-list">
            <a class="main-link" href="/together/">같이가치</a>
          </div>
          <div class="sitemap-list">
            <a class="main-link" href="/kakaoimpact/">카카오임팩트</a>
            <ul>
              <li><a href="/kakaoimpact/news/">새소식</a></li>
              <li><a href="/kakaoimpact/notice/">공지사항</a></li>
            </ul>
          </div>
        </div>
        <div class="copyright">
          <a class="logo-dsmt" href="/"><span class="blind">DSMT</span></a>
          <small class="copy-text">Copyright © Kakao Impact Foundation. All rights reserved.</small>
        </div>
      </div>
    </footer>
    <script src="/assets/scripts/libs/jquery.min.js"></script>
    <script src="/assets/scripts/libs/browser-detect.umd.js"></script>
    <script src="/assets/scripts/libs/gsap.min.js"></script>
    <script src="/assets/scripts/libs/CustomEase.min.js"></script>
    <script src="/assets/scripts/libs/ScrollToPlugin.min.js"></script>
    <script src="/assets/scripts/libs/stickyfill.min.js"></script>
    <script src="/assets/scripts/libs/intersection-observer.js"></script>
    <script src="/assets/scripts/common.js"></script>
  </body>
</html>